*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgb(0, 0, 0, 0.70), rgb(0, 0, 0, 0.70)), url("../images/img.jpg")!important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}